body {
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  color: #666;
  line-height: 1.5;
  background-color: #F4F4F4;
}

/* 清除点击高亮     设置为transparent */
* {
  -webkit-tap-highlight-color: transparent;

}

/* 解决iOS的默认样式不能修改的问题 */
input {
  -webkit-appearance: none;
}

/* 禁用长按页面时的弹出菜单 */
img,
a {
  -webkit-touch-callout: none;
}

/* 隐藏侧边滑动栏 */
::-webkit-scrollbar {
  width: 0 !important;
}

::-webkit-scrollbar {
  width: 0 !important;
  height: 0;
}


input {
  outline: none;
  border: none;
}

* {
  padding: 0;
  margin: 0;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
}